<div class="footer-container">
    <div class="lhs">
        <div class="title">Eliza Siegel</div>
        <div class="descrip">This site was designed and developed by
            <a href="https://taylormcpherson.github.io/" target="_blank"> Taylor McPherson.</a>
        </div>
    </div>
    <div class="rhs">
        <div class="site-map">
            <div class="title">Site Map</div>
            <div class="items">
                <div class="site-item" routerLink="/home">HOME</div>
                <div class="site-item" routerLink="/work">WORK</div>
                <div class="site-item" routerLink="/about">ABOUT</div>
                <div class="site-item" routerLink="/photos">PHOTOS</div>
            </div>
        </div>
        <div class="connect">
            <div class="title">Connect</div>
            <div class="items" *ngFor="let c of connects">
                <a class="site-item" href="{{c.link}}" target="_blank">
                    <img src="{{c.imgUrl}}" width="18%">
                </a>
            </div>
        </div>
    </div>
</div>
