* {
    color: #FFFFFF;
}
.footer-container {
    background-color: #516A44;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 -4em 0 -4em;
    padding: 2.5em 6em 2.5em 6em;
}

/*-----left hand items-----*/
.lhs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22%;
    margin-left: 2em;
}

.lhs .title {
    font-family: 'Bellefair', serif;
    font-size: 1.6em;
    display: flex;
    margin-bottom: 1em;
    opacity: .9;
}

.lhs .descrip {
    font-weight: 300;
    opacity: .85;
    font-size: .9em;
}

.lhs .descrip a, .rhs .site-item {
    opacity: 1;
    font-weight: 400;
    cursor: pointer;
}

.lhs .descrip a:hover {
    opacity: .85;
}

/*-----right hand items-----*/
.rhs {
    display: flex;
    flex-direction: row;
}

.rhs .site-map, .rhs .connect {
    margin-left: 8em;
    font-weight: 300;
    display: flex;
    flex-direction: column;
}

.rhs .title {
    opacity: .8;
    font-size: .9em;
    margin-bottom: .2em;
}

.rhs .items {
    margin-top: .2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-weight: 300;
    opacity: .9;
}

.rhs .site-item {
    font-size: .9em;
    margin-bottom: .7em;
    font-weight: 300;
    opacity: .9;
}

.rhs .connect .site-item {
    margin-bottom: .3em;
}

.rhs .site-item:hover {
    opacity: .7;
}

/*---mobile---*/
.mobile-footer-container {
    padding: 0;
    margin: 0;
    background-color: #516A44;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.mobile-footer-container .title {
    display: flex;
    margin-bottom: 1em;
    opacity: .9;
}

.mobile-footer-container .descrip {
    font-weight: 300;
    opacity: .85;
    font-size: .9em;
    margin: 2em 0 0 0;
    width: 55%;
}

.mobile-footer-container .descrip a, .rhs .site-item {
    opacity: 1;
    font-weight: 400;
    cursor: pointer;
}
.mobile-footer-container .rhs {
    display: flex;
    flex-direction: column;
    margin: 2em 0 0 0;
    padding: 0;
    justify-content: flex-start;
    align-items: center;
}
.mobile-footer-container .site-map {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.mobile-footer-container .item-container, .mobile-footer-container .site-map .items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
}
.mobile-footer-container .site-map .site-item {
    margin: -.5em 1.2em 2em 0;
    font-weight: 400;
    opacity: .9;
}


.mobile-footer-container .connect {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 55%;
}

.mobile-footer-container .item-container {
    width: 92%;
}
.mobile-footer-container .connect .items {
    margin: -.5em 2.5em 0 0;
}




