<div class="web-container" *ngIf="!isMobile">
  <a class="work-card-container" href="{{cardLink}}" target="_blank"
     (mouseenter)="hover=true" (mouseleave)="hover=false"
     [ngStyle]="styleCard()" >
    <div class="main-content">
      <div *ngIf="!hover" [ngStyle]="{'visibility': 'none'}">
        <div class="workIcon" >
          <img src="{{cardImgURL}}" width="20%">
        </div>
        <div class="workTitle">{{cardTitle}}</div>
        <div class="workDescrip">{{cardDescrip}}</div>
      </div>
    </div>
    <div class="hover-content" *ngIf="hover" [ngStyle]="{'color':cardColor}">
      {{cardHoverText}}
    </div>
  </a>
</div>

<div class="mobile-container" *ngIf="isMobile">
  <a class="work-card-container" href="{{cardLink}}" target="_blank"
     [ngStyle]="styleCard()" >
    <div class="main-content">
      <div class="workIcon" >
        <img src="{{cardImgURL}}" width="20%">
      </div>
      <div class="workTitle">{{cardTitle}}</div>
      <div class="workDescrip">{{cardDescrip}}</div>
      <div class="viewClick">{{cardHoverText}}</div>
    </div>
  </a>
</div>


