<div class="web-landing-container" *ngIf="!isMobile">
  <section *ngFor="let d of data">
    <div class="home-content">
      <div class="imgContainer">
        <img src="{{d.imgUrl}}" width="48%" alt="eliza-headshot">
      </div>
      <div class="wordContainer">
        <div class="title">{{d.title}}</div>
        <div class="descrip">{{d.subtitle}}</div>
      </div>
    </div>
  </section>
</div>

<div class="mobile-landing-container" *ngIf="isMobile">
  <section *ngFor="let d of data">
    <div class="home-content">
      <div class="wordContainer">
        <div class="title">{{d.title}}</div>
        <div class="descrip">{{d.subtitle}}</div>
      </div>
      <div class="imgContainer">
        <img src="{{d.imgUrl}}" width="100%" alt="eliza-headshot">
      </div>
    </div>
  </section>
</div>

