* {
  font-family: 'Bellefair', serif;

}

.home-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.imgContainer {
  width: 50%;
  display: flex;
  align-items: flex-start;
  margin-left: 16%;
}

img {
  display: flex;
  border-radius: 4em;
}

.wordContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: -8em;
}

.title {
  font-size: 2.4em;
}

.descrip {
  width: 60%;
  font-size: 1.6em;
}

section {
  padding: 4em 0 0 0;
}

/*----mobile----*/
.mobile-landing-container .home-content {
  flex-direction: column;
}

.mobile-landing-container .wordContainer {
  margin: 2em 1em 2em 1em;
  width: 70%;
}

.mobile-landing-container .descrip {
  width: 100%;
}

.mobile-landing-container .imgContainer {
  margin-left: 0;
  width: 70%;
}

.mobile-landing-container img {
  border-radius: 1em;
}

.mobile-landing-container section {
  padding: 4em 0 0 0;
}
