.grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-self: center;
    justify-content: center;
    margin-bottom: 6em;
}

.grid-img {
    margin-left: .5em;
    margin-right: .5em;
    margin-bottom: .5em;
    width: 30%;
}
.grid-img img {
    border-radius: 1em;
}

.grid-img:hover {
    cursor: pointer;
    opacity: .7;
}
