.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4em;
}
.header-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  margin-bottom: 2em;
  border: 1px solid #626262;

  border-radius: 4em;
  padding: 1.6em;
}

.line1, .line2 {
  font-family: 'Bellefair', serif;
  font-size: 1.4em;
  color: #525252;
}

.line2 {
  margin-top: 1em;
  font-size: 1.2em;
  font-style: italic;
}

