<section *ngIf="!isMobile">
  <div class="about-container">
    <!--header, manually putting it in for links---->
    <div class="about-header">
      <div class="header-container">
        <div class="header-content">
          <div class="line1">Reach me by email at
            <a href="mailto:siegel.eliza@gmail.com">siegel.eliza(at)gmail.com</a>
          </div>
          <div class="line2">
            Follow me on Twitter
            <a href="https://twitter.com/ElizaISiegel" target="_blank">@ElizaISiegel</a>
            or connect with me on
            <a href="https://www.linkedin.com/in/eliza-siegel-032380147" target="_blank">LinkedIn.</a>
          </div>
        </div>
      </div>
    </div>
    <!---page content---->
    <div class="page-contents">
      <div class="about-words">
        <span class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Eliza Siegel </span>
        is a New Jersey-based interdisciplinary writer and artist
        who recently graduated from Barnard College of Columbia University with a B.A. in American Studies. She is the
        recipient of the 2020 John Demos Prize in American Studies and the 2020 Women and Gender
        Studies Prize administered by Columbia University’s Institute for Research on Women, Gender,
        and Sexuality (read her interview with IRWGS
        <a href="https://irwgs.columbia.edu/2020-irwgs-prize-winners-announced/">
          here</a>).
        Most days, she can be found writing scathing political satire for
        <a class="itals" href="https://www.therationalonline.com/reading/category/Irrational+Takes">
          The Rational,
        </a>
        baking confections at a local cafe, or creating fiber art pieces. In the past, she worked as an
        editorial intern at the Prague-based newsroom
        <a class="itals" href="https://tol.org/">
          Transitions Online.
        </a>
        Her poetry and editorial writing has appeared in
        <a class="itals" href="https://voicesandvisionsjournal.com/">
          Voices and Visions
        </a> Literary Journal,
        <a class="itals" href="https://www.amazon.com/New-Yorks-Best-Emerging-Poets/dp/1979352887">
          New York’s Best Emerging Poets: An Anthology,
        </a>
        <a class="itals" href="https://issuu.com/collectiveadvocacyproject/docs/_sic._">
          [sic.]
        </a> Literary Journal,
        <a class="itals" href="https://issuu.com/roachesaup/docs/roaches_book_for_online_publishing">
          Roaches
        </a> Literary Journal,
        <a class="itals" href="https://fellowvoices.wordpress.com/2018/10/09/sentiment-sentimentality-gendered-credibility-in-the-kavanaugh-hearings/">
          Fellow Voices,
        </a> and more.
      </div>
      <div class="about-img">
        <img src="./assets/img/eliza-about.png" alt="headshot" width="100%">
      </div>
    </div>
  </div>
</section>

<!--mobile-->
<div class="mobile-about" *ngIf="isMobile">
  <section>
    <div class="about-container">
      <!--header, manually putting it in for links---->
      <div class="about-header">
        <div class="header-container">
          <div class="header-content">
            <div class="line1">Reach me by email at
              <a href="mailto:siegel.eliza@gmail.com">siegel.eliza(at)gmail.com</a>
            </div>
            <div class="line2">
              Follow me on Twitter
              <a href="https://twitter.com/ElizaISiegel" target="_blank">@ElizaISiegel</a>
              or connect with me on
              <a href="https://www.linkedin.com/in/eliza-siegel-032380147" target="_blank">LinkedIn.</a>
            </div>
          </div>
        </div>
      </div>
      <!---page content---->
      <div class="page-contents">
        <div class="about-img">
          <img src="./assets/img/eliza-about.png" alt="headshot" width="100%">
        </div>
        <div class="about-words">
          <span class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Eliza Siegel </span>
          is a New Jersey-based interdisciplinary writer and artist
          who recently graduated from Barnard College of Columbia University with a B.A. in American Studies. She is the
          recipient of the 2020 John Demos Prize in American Studies and the 2020 Women and Gender
          Studies Prize administered by Columbia University’s Institute for Research on Women, Gender,
          and Sexuality (read her interview with IRWGS
          <a href="https://irwgs.columbia.edu/2020-irwgs-prize-winners-announced/">
            here</a>).
          Most days, she can be found writing scathing political satire for
          <a class="itals" href="https://www.therationalonline.com/reading/category/Irrational+Takes">
            The Rational,
          </a>
          baking confections at a local cafe, or creating fiber art pieces. In the past, she worked as an
          editorial intern at the Prague-based newsroom
          <a class="itals" href="https://tol.org/">
            Transitions Online.
          </a>
          Her poetry and editorial writing has appeared in
          <a class="itals" href="https://voicesandvisionsjournal.com/">
            Voices and Visions
          </a> Literary Journal,
          <a class="itals" href="https://www.amazon.com/New-Yorks-Best-Emerging-Poets/dp/1979352887">
            New York’s Best Emerging Poets: An Anthology,
          </a>
          <a class="itals" href="https://issuu.com/collectiveadvocacyproject/docs/_sic._">
            [sic.]
          </a> Literary Journal,
          <a class="itals" href="https://issuu.com/roachesaup/docs/roaches_book_for_online_publishing">
            Roaches
          </a> Literary Journal,
          <a class="itals" href="https://fellowvoices.wordpress.com/2018/10/09/sentiment-sentimentality-gendered-credibility-in-the-kavanaugh-hearings/">
            Fellow Voices,
          </a> and more.
        </div>
      </div>
    </div>
  </section>
</div>
