<div class="nav-container-web">
  <div class="lhs">
    <div class="nav-item" routerLink="/home" routerLinkActive="activePage">
      Eliza Siegel
      <div class="underline"></div>
    </div>

  </div>
  <div class="rhs">
    <div class="nav-item" routerLink="/work" routerLinkActive="activePage">
      WORK
      <div class="underline"></div>
    </div>
    <div class="nav-item" routerLink="/about" routerLinkActive="activePage">
      ABOUT
      <div class="underline"></div>
    </div>
    <div class="nav-item" routerLink="/photos" routerLinkActive="activePage">
      PHOTOS
      <div class="underline"></div>
    </div>
  </div>
</div>
