<!--mobile--->
<section class="nav-container-web" *ngIf="!isMobile">
  <div class="lhs">
    <div class="nav-item" id="navHome"
         routerLink="/home" routerLinkActive="activePage">
      Eliza Siegel
      <div class="underline"></div>
    </div>
  </div>
  <div class="rhs">
    <div class="nav-item" id="navAbout" routerLink="/about" routerLinkActive="activePage">
      ABOUT
      <div class="underline"></div>
    </div>
    <div class="nav-item" id="navPhotos" routerLink="/photos" routerLinkActive="activePage">
      PHOTOS
      <div class="underline"></div>
    </div>
  </div>
</section>

<!--mobile-->
<section class="mobile-nav-container" *ngIf="isMobile">
  <div class="nav-item" id="navHome"
       routerLink="/home" routerLinkActive="activePage">
    WORK
    <div class="underline"></div>
  </div>
  <div class="nav-item" id="navAbout" routerLink="/about" routerLinkActive="activePage">
    ABOUT
    <div class="underline"></div>
  </div>
  <div class="nav-item" id="navPhotos" routerLink="/photos" routerLinkActive="activePage">
    PHOTOS
    <div class="underline"></div>
  </div>
</section>
