.work-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.work-header {
  width: 100%;
}

.work-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 1em 0 1em 0;
}

.single-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1em;
}

.resume-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  border: solid 1px #333333;
  border-radius: 3em;
  width: 8em;
  padding-top: 1em;
  padding-bottom: 1em;
  align-self: center;
}

.resume-button:hover {
  cursor: pointer;
  color: #DF7234;
  border-color: #DF7234;
}

section {
  padding: 0;
  margin-top: -6em;
}

/*---media queries for responsiveness---*/
@media screen and (max-width: 1170px) {
  .single-card {
    margin: .5em;
  }
}

@media screen and (max-width: 1000px) {

  .work-cards {
    margin: 2em 1em 2em 1em;
  }
}

@media screen and (max-width: 800px) {
  section {
    margin: 0;
  }

  .work-cards {
    margin: 0;
  }
}

/*---mobile---*/
.mobile-container .work-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.mobile-container .work-cards {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobile-container .single-card {
  width: 100%;
  margin-bottom: 2em;
}

.mobile-container section {
  margin-top: -3em;
}

.mobile-container .resume-button {
  margin: 0;
}
