.work-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.work-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.single-card {
  display: flex;
  flex-direction: row;
  width: 28%;
  height: 100%;
}

.resume-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  border: solid 1px #333333;
  border-radius: 3em;
  width: 8em;
  padding-top: 1em;
  padding-bottom: 1em;
  align-self: center;
}

.resume-button:hover {
  cursor: pointer;
  color: #DF7234;
  border-color: #DF7234;
}
