/*-------------------------------------------------------------
    @author : Taylor McPherson
    web Porfolio for Eliza Siegel (the wonderful, the GREAT!)
    
    index.html : skeleton HTML code for landing page/Home

    @date : Summer 2019

---------------------------------------------------------------*/
/*-------------------------------
      Animations / Keyframes
---------------------------------*/

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/*--------------------------
      Sitewide Styles
-----------------------------*/

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Bellefair', serif;
    margin: 0;
}

h1 {
    font-size: 5vw;
    text-shadow:1px 1px 1px white;
}

h2 {
    font-size: 4vw;
    text-shadow:1px 1px 1px white;
}

h3 {
    font-size: 3.5vw;
    text-shadow:1px 1px 1px white;
}

h4 {
    font-size: 3vw;
    margin-top: .7em;
    margin-bottom: .55em;
    text-shadow:1px 1px 1px white;
}
h5 {
    font-size: 2.5vw;
    text-shadow:1px 1px 1px white;
}
h6 {
    font-size: 2vw;
    text-shadow:1px 1px 1px white;
}

a:visited, a:active, a {
    text-decoration: none;
    color: #396514; 
}

.navBar {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 19.5%;
    width: 100%;
    margin-left: 7%;
    margin-right: 4%;
    background:rgba(255,255,255, 0.8);
    text-shadow:1px 1px 1px white;
}

.nameIcon {
    margin-left: .5%;
}

#n1 {
    margin-left: 38%;
}

#n5 {
    margin-right: 10%;
}

.navItems {
    display: flex;
    flex-direction: column;
    font-size: 1.5vw;
    margin: 1.8%;
    margin-top: 4%;

}


.dropdown {
    display: flex;
    flex-direction: column;
}

.dropdownContent {
    display: none;
    flex-direction: column;
    font-size: 1.2vw;
    margin-bottom: 0;
    text-align: right;
}

.navItems:hover .dropdownContent{
    display: flex;

}

.navItems:hover, .nameIcon:hover, .navTitle:hover, .navItems:hover .dropdownContent a:hover {
    color: #D98B26;
}



.wordContainer {
    position: absolute;
    z-index: 1;
    color: blue;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    text-align: center;
    padding: 1em;
    border-radius: 25%;
}


.wordContainer:hover{
    cursor:pointer;
    background: rgba(255, 255, 255, .8);
}

body#contact a#n5, body#about a#n4, body#films a#n3, body#poems a#n2, body#photo a#nt1 {
    color: #D98B26;
}



/*------------------------------
        index.html
*------------------------------*/

.landingPage {
    text-align: center;
    position: fixed;
    width: 100%;
    background: white;

}

#backPic {
    z-index: -1;
    opacity: 1;
}

#wcHome {
    top: 20%;
    left: 40%;
    padding-left: 3%;
    padding-right: 3%;
    background: rgba(255, 255, 255, .8);
}

#wcHome:hover {
    background-color: #F7D7B4;
}

#homeName {
    color: #25541D;
}



/*------------------------------
        photo.html
*------------------------------*/
.content {
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.album {
    margin-top: 10%;
    display: flex;
    margin-left: 7.5%;
    margin-right: 7.5%;
}


#wcPhoto1, #wcPhoto2, #wcPhoto3 {
    position: absolute;
    background: rgba(255,255,255, 0.7);
    margin-top: 23%;
    font-size: 2.5vw;
    
}

#wcPhoto1:hover, #wcPhoto2:hover, #wcPhoto3:hover {
    background: rgba(247, 215, 180, 1);
}

#wcPhoto1 {
    margin-left: 35%;
}

#wcPhoto2 {
    margin-left: 34%;
}

#wcPhoto3 {
    margin-left: 33%;
}


.albumTitle, .albumTitle:active, .albumTitle:visited {
    color: #396514;
}



/*----------------------------------------------------
   bwPhoto.html, etretatPhoto.html, summerPhoto.html
*----------------------------------------------------*/

.albumContainer {
    margin-left: 7.5%;
    margin-right: 7.5%;
    display: flex;
    flex-direction: column;

}
.albumDescrip {
    margin-top: 12%;
    text-align: center;
}

.albumContainer p {
    margin-top: 0;
    margin-bottom: 1%;
}


.title {
    font-size: 2vw;
    color: #D98B26;
}

.subtitle {
    padding-bottom: 1%;
    color: rgba(23, 57, 17, .8);
}

.bwContent, .eContent {
    display: flex;
    flex-direction: row;

}

.col {
    display: flex;
    flex-direction: column;
}

.aImg {
    margin-bottom: 8%;

}
.aImg:hover {
    cursor: pointer;
}

#backButton {
    display: none;
    position: fixed;
    width: 6%;
    height: 2%;
    color: #396514;
    margin-left: 8%;
}

#backButton:hover {
    cursor: pointer;
}

#h5Back {
    margin-top: 300%;
}


#backButton:hover {
    color: #D98B26;
}
