.photos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photos-header {
    width: 100%;
}

.page-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    padding: 0 0 4em 0;
}

/*--mobile--*/
.mobile-photos .photos-header {
    margin-top: 2em;
}

.mobile-photos {
    padding: 0 0 2em 0;
}
