.photos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photos-header {
    width: 100%;
}

.page-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    padding: 0 0 4em 0;
}
