.app-container-web {
  margin: 0em 4em 0 4em;
}

.app-container-mobile {
  margin: 0;
}

/*---media queries for responsiveness---*/
@media screen and (max-width: 1240px) {
  .app-container-web {
    margin: 0em 2em 0 2em;
  }
}

@media screen and (max-width: 700px) {
  .app-container-web {
    margin: 0;
  }
}
