.page-container, .mobile-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-container {
    width: 100%;
}

/*---mobile----*/
.mobile-page-container .header-container {
    margin: 2em 0 0 0;
}
