/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6em;
  color: #333333;
}

*:focus {outline:0 !important;}

section {
  padding-bottom: 4em
}
