<!--web--->
<div class="home-web" *ngIf="!isMobile">
  <div class="home-container">
    <div id="landingPage" class="page-container">
      <app-landing></app-landing>
    </div>
    <div id="workPage" class="page-container">
      <app-work></app-work>
    </div>
  </div>
</div>
<!--mobile-->
<div class="home-mobile" *ngIf="isMobile">
  <div class="home-container">
    <div id="landingPage" class="page-container">
      <app-landing></app-landing>
    </div>
    <div id="workPage" class="page-container">
      <app-work></app-work>
    </div>
  </div>
</div>


