.home-container {
  display: flex;
  flex-direction: column;
}

.page-container {
  margin-bottom: 6em;
}

/*--navbar---*/
* {
  color: #4f4f4f;
}
.nav-container-web {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: -4em -4em 0 -4em;
  padding: 2em 0 1em 0;
  align-items: flex-end;
  position: fixed;
  background-color: #FFFFFF;
  /*opacity: .9;*/
}

.lhs {
  margin-left: 6em;
  font-size: 1.4em;

}

.lhs .nav-item {
  font-size: 1.2em;
  font-family: 'Bellefair', serif;
}

.rhs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 2em;
  margin-right: 7.8em;
}

.rhs .nav-item {
  margin-left: 4em;
  font-size: 1em;
  font-family: 'Bellefair', serif;
}

.nav-item:hover {
  cursor: pointer;
  color: #DF7234;
  opacity: 1;
}

.activePage {
  color: #516A44;
}

.activePage .underline {
  background-color: #516A44;
  opacity: 1;
}

.activePage:hover {
  color: #516A44;
}

.underline {
  width: 100%;
  height: 1px;
  background-color: #DF7234;
  opacity: 0;
}

/*----mobile----*/
@media screen and (max-width: 600px) {
  .home-mobile {
    padding: 0;
  }

  .home-mobile .page-container {
    margin-bottom: 2em;
  }

  .home-mobile .home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
