.photo-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.photo-card {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 74%;
    border-radius: 4em;
    margin-bottom: 2em;
}
.photo-card:hover {
    cursor: pointer;
}
.photo-card img {
    border-radius: 4em;
    display: flex;
    align-self: center;
}
.photo-card .hover {
    width: 100%;
}
.hover, .no-hover {
    border-radius: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text {
    display: flex;
    align-self: center;
    position: absolute;
    font-family: 'Bellefair', serif;
    font-size: 1.6em;
}
