.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-container {
    width: 100%;
}

.page-contents {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
}

